<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.htc.my.mymusicplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true" android:icon="@mipmap/music_icon"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name="com.htc.my.mymusicplayer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.htc.my.mymusicplayer.MusicInfoActivity">
        </activity>

        <service android:name="com.htc.my.service.MyMusicPlayerService">
        </service>
    </application>

</manifest>